services:
  business-finder-server:
    container_name: business-finder-server
    networks:
      - proxy
    depends_on:
      - business-finder-db
    build:
      context: ./
      dockerfile: Dockerfile
      target: business-finder-server
    restart: always
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}
      - GOOGLE_MAPS_JAVASCRIPT_API=${GOOGLE_MAPS_JAVASCRIPT_API}

      - DEFAULT_COUNTRY_CODE=${DEFAULT_COUNTRY_CODE}
      - DEFAULT_PLACE_TYPE=${DEFAULT_PLACE_TYPE}
      - DOCKER=true
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.business-finder-server.rule=Host(`business-finder.coding.global`)"
      - "traefik.http.routers.business-finder-server.entrypoints=websecure"
      - "traefik.http.routers.business-finder-server.tls.certresolver=letsencrypt"
      - "traefik.http.services.business-finder-server.loadbalancer.server.port=3000"
  business-finder-worker:
    container_name: business-finder-worker
    network_mode: service:business-finder-vpn
    depends_on:
      - business-finder-db
    build:
      context: ./
      dockerfile: Dockerfile
      target: business-finder-worker
    restart: always
    volumes:
      - ~/business-finder-stream/:/app/stream
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@host.docker.internal:5437/${POSTGRES_DB}
      - DEFAULT_COUNTRY_CODE=${DEFAULT_COUNTRY_CODE}
      - DEFAULT_PLACE_TYPE=${DEFAULT_PLACE_TYPE}
      - DOCKER=true

  business-finder-vpn:
    # epic puffer
    container_name: business-finder-vpn
    restart: always
    network_mode: bridge
    image: qmcgaw/gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_ADDRESSES="10.71.184.246/32"
      # - SERVER_COUNTRIES=germany
      - LOG_LEVEL=debug
    extra_hosts:
      - "host.docker.internal:host-gateway"

  business-finder-db:
    container_name: business-finder-db
    image: postgis/postgis:latest
    restart: always
    network_mode: bridge
    ports:
      - 5437:5432
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
