services:
  business-finder-worker:
    container_name: business-finder-worker
    network_mode: service:business-finder-vpn
    depends_on:
      - business-finder-db
    build:
      context: ./
      dockerfile: Dockerfile
      target: business-finder-worker
    restart: always
    volumes:
      - ~/business-finder-stream/:/app/stream
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}

      - DEFAULT_COUNTRY_CODE=${DEFAULT_COUNTRY_CODE}
      - DEFAULT_PLACE_TYPE=${DEFAULT_PLACE_TYPE}
      - DOCKER=true
  business-finder-vpn:
    container_name: business-finder-vpn
    restart: always
    network_mode: bridge
    image: qmcgaw/gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=mullvad
      - VPN_TYPE=openvpn
      - OPENVPN_USER=${OPENVPN_USER}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      - OPENVPN_CIPHERS=AES-256-GCM
      - LOG_LEVEL=debug
    extra_hosts:
      - "host.docker.internal:host-gateway"
  business-finder-db:
    container_name: business-finder-db
    image: postgis/postgis:latest
    restart: always
    network_mode: bridge
    ports:
      - 5437:5432
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
