services:
  business-finder-server:
    container_name: business-finder-server
    networks:
      - proxy
    depends_on:
      - business-finder-db
    build:
      context: ./
      dockerfile: Dockerfile
      target: business-finder-server
    restart: always
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}
      - GOOGLE_PLACES_API=${GOOGLE_PLACES_API}
      - GOOGLE_MAPS_JAVASCRIPT_API=${GOOGLE_MAPS_JAVASCRIPT_API}

      - DEFAULT_COUNTRY_CODE=${DEFAULT_COUNTRY_CODE}
      - DEFAULT_PLACE_TYPE=${DEFAULT_PLACE_TYPE}
      - DOCKER=true
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.business-finder-server.rule=Host(`business-finder.coding.global`)"
      - "traefik.http.routers.business-finder-server.entrypoints=websecure"
      - "traefik.http.routers.business-finder-server.tls.certresolver=letsencrypt"
      - "traefik.http.services.business-finder-server.loadbalancer.server.port=3000"
  business-finder-worker:
    container_name: business-finder-worker
    depends_on:
      - business-finder-db
    networks:
      - proxy
    build:
      context: ./
      dockerfile: Dockerfile
      target: business-finder-worker
    restart: always
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}
      - GOOGLE_PLACES_API=${GOOGLE_PLACES_API}
      - GOOGLE_MAPS_JAVASCRIPT_API=${GOOGLE_MAPS_JAVASCRIPT_API}

      - DEFAULT_COUNTRY_CODE=${DEFAULT_COUNTRY_CODE}
      - DEFAULT_PLACE_TYPE=${DEFAULT_PLACE_TYPE}
  business-finder-db:
    container_name: business-finder-db
    image: postgis/postgis:latest
    restart: always
    networks:
      - proxy
    ports:
      - 5437:5432
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

networks:
  proxy:
    external: false
    name: proxy
